.header__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.header__brand{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.header__brand > a{
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.header__logo {
    width: 3rem;
    transition: transform .3s ease-in-out;
}

.header__brand >a:hover > .header__logo {
    transform:rotateZ(15deg);
}

.header__brand >a:hover > .header__title {
    color: var(--color-pink);
}

.header__brand >a:hover > .header__title > .header__title--color {
    color: var(--color-white);
}

.header__title{
    margin-left: 10px;
    font-weight: 700;
    color: var(--color-white);
    transition: color .3s ease-in-out;
    letter-spacing: 0.5px;
    user-select: none;
}

.header__title--color{
    color: var(--color-pink);
    transition: color .3s ease-in-out;
}

.nav__list{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    
}

.nav__item{
    height: 100%;

    display: flex;
    align-items: center;

    position: relative;

    transition: background .4s ease-in-out;
}

.nav__item > a,
.accountToggle__container > a{
    color: var(--color-white);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    transition: transform .2s ease-in-out;
    cursor: pointer;
    user-select: none;
}

.nav__link--color{
    padding-left: 7px;
    transition: color .3s ease-in-out;
}

.nav__item > a:hover > .nav__link--color,
.accountToggle__container > a:hover > .nav__link--color{
    color: var(--color-pink);
}

.nav__item > a:hover > .nav__icon{
    transform: rotate(15deg) translateY(-3px);
}

.nav__icon{
    width: 35px;
    margin-left: 7px;
    transition: transform .3s ease-in-out;
}

.nav__loggedInList{
    display: flex;
}

.header__navToggle{
    display: none;
    /* display: flex;
    align-items: center; */
}

.accountToggle__container{
    position: absolute;
    background-color: var(--color-blue-dark);
    width: 100%;
    top: 118%;
    z-index: 999;
    padding-bottom: 15px;
}
