/*-------- ESTILOS BODY --------*/

body{
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--color-white);
  position: relative;
}

/*-------- ESTILOS ROOT --------*/

#root {
  display: grid;

  width: 100dvw;
  height: 100dvh;
  grid-template-rows: auto 1fr auto;

}

/*-------- ESTILOS HEADER --------*/

.App__header{
  background-color: #050417;
  min-height: 75px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .06);
  z-index: 10;
}

/*-------- ESTILOS MAIN --------*/

.App__main{
  background-color: var(--color-white-light);
}

/*-------- ESTILOS FOOTER --------*/

.App__footer{
  background-color: #050417;;
  min-height: 80px;
  color: white;
}

