/*-------- ESTILOS BODY --------*/

body{
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--color-white);
  position: relative;
}

/*-------- ESTILOS ROOT --------*/

#root {
  display: grid;

  height: 100dvh;
  grid-template-rows: auto 1fr auto;

}

/*-------- ESTILOS HEADER --------*/

.App__header{
  background-color: #050417;
  min-height: 75px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .06);
  z-index: 999;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
}

/*-------- ESTILOS MAIN --------*/

.App__main{
  background-color: var(--color-white-light);
}

.main__title{
  margin: 30px 20px 20px 20px;
  position: relative;
}

.main__title::before{
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--color-pink);
  position: absolute;
}

.main__title::after{
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--color-pink);
  position: absolute;
  bottom: 0;
  left: 0;
}

/*-------- ESTILOS FOOTER --------*/

.App__footer{
  background-color: #050417;;
  min-height: 75px;
  color: white;
}

.loading{
  width: 100px;
  transform: scaleX(-1);
}