/*-------- GENERAL VARIABLES --------*/

:root {
  --color-blue-dark: #050417;
  --color-blue-trans: #05041744;
  --color-white: #feedff;
  --color-white-trans: #feedff6e;
  --color-pink: #E91E63;
  --color-pink-light: #F24E84;
  --color-pink-lighter: #ffe5ef;



  --color-white-light: #fef5ff;
  --color-yellow: #FFEB3B;
  --box-shadow: 2px 2px 10px #3d3d3d;
}

/*-------- BASE FONT CONFIGURATION --------*/

:root {
  font-family: 'Poppins','helvetica';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*-------- RESET CSS / INITIAL STYLES --------*/

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
  display: block;
}

p a, label a {
  display: inline;
}

