/*-------- ESTILOS FORMS --------*/

.inputContainer{
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
    min-width: 400px;
    margin: 0 10px 35px 10px;
    z-index: 10;
}

.inputError{
    text-align: center;
    text-wrap: pretty;
    font-size: 1.4rem;
    font-weight: bold;
    position: absolute;
    width: 95%;
    margin: 0 auto;
    top: 45px;
    left: 0px;
    right: 0;
    z-index: -10;
    animation: inputError .3s ease-in-out both;
    color: var(--color-pink);
}

@keyframes inputError {
    from{
        top: 0;
        opacity: 0;
        /* transform: scale(0); */
    }to{
        top: 45px;
        opacity: 1;
        /* transform: scale(1); */
    }
}

.textInput, 
.passwordInput{
    width: 100%;
    height: 40px;
    font-size: 1.5rem;
    padding: 5px 10px;
    border: 1px solid var(--color-blue-dark);
    border-radius: 8px;
    outline: 2px solid transparent;
    /* margin: 0 10px; */
    /* transition: outline .2s ease-in-out; */
}

.passwordInput{
    padding: 5px 40px 5px 10px;
}

.showPassIcon{
    width: 40px;
    position: absolute;
    top: 0px;
    right: 4px;
}

.textInput--error,
.passwordInput--error{
    outline: 2px solid var(--color-pink);
    outline-offset: -2px;
}

.textInput:focus,
.passwordInput:focus{
    /* outline: none; */
    outline: 2px solid var(--color-pink);
    outline-offset: -2px;
    z-index: 10;
    /* transition: outline .2s ease-in-out; */
}

.checkboxInput{
    /* transform: scale(1.5); */
    accent-color: var(--color-pink); /* Cambia el color cuando está marcado */
    width: 20px;
    height: 20px;
    cursor: pointer; /* Hace que el cursor cambie al pasar el mouse */
    vertical-align: middle;
    margin: 0 10px;
}

.button--pink,
.button--black{
    border: none;
    padding: 7px 17px;
    font-size: 1.8rem;
    border-radius: 8px;
    cursor: pointer;
    color: var(--color-white);
    transition: background .3s ease-in-out;
}

.button--pink{
    background-color: var(--color-pink);
}

.button--black{
    background-color: var(--color-blue-dark);
}

.button--pink:hover{
    background-color: var(--color-pink-light);
}

.exitButton--pink,
.exitButton--black{
    width: 40px;
    border-radius: 50%;
    position: fixed;
    padding: 3px;
    top: 17%;
    right: 27.5%;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.exitButton--pink{
    background-color: var(--color-pink);
}

.exitButton--black{
    background-color: var(--color-blue-dark);
}

.exitButton--pink:hover{
    background-color: var(--color-pink-light);
}
