/*-----TEXT & PASSWORD INPUTS-----*/

.inputContainer{
    display: inline-block;
    position: relative;
    min-width: 400px;
    margin: 0 10px 20px 10px;
    z-index: 10;
}

.inputContainer--recoverPass,
.inputContainer--searchByName{
    min-width: 300px;
}


.textInput, 
.passwordInput{
    width: 100%;
    height: 40px;
    font-size: 1.5rem;
    padding: 5px 10px;
    border: 1px solid var(--color-blue-dark);
    border-radius: 8px;
    outline: 2px solid transparent;
}


.option {           
    padding: 10px;            /* Solo funciona en algunos navegadores */
}

.passwordInput{
    padding: 5px 50px 5px 10px;
}

.showPassIcon{
    width: 40px;
    position: absolute;
    top: 0px;
    right: 4px;
    cursor: pointer;
}

.textInput--error,
.passwordInput--error{
    outline: 2px solid var(--color-pink);
    outline-offset: -2px;
}

.textInput:focus,
.passwordInput:focus{
    outline: 2px solid var(--color-pink);
    outline-offset: -2px;
    z-index: 10;
}

.inputError{
    text-align: center;
    text-wrap: pretty;
    font-size: 1.4rem;
    font-weight: bold;
    display: block;
    /* position: absolute; */
    width: 95%;
    margin: 3px auto;
    top: 45px;
    left: 0px;
    right: 0;
    z-index: -10;
    animation: inputError .3s ease-in-out both;
    color: var(--color-pink);
}

@keyframes inputError {
    from{
        top: 0;
        opacity: 0;
    }to{
        top: 45px;
        opacity: 1;
    }
}


/*-----CHECKBOX INPUTS-----*/

.checkboxContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    width:fit-content;
    /* margin: 10px; */
}

.checkboxInput{
    /* transform: scale(1.5); */
    accent-color: var(--color-pink);
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
    margin: 0 0 0 15px;
}

/*-----SELECTORS-----*/

.selectorContainer{
    display: inline-block;
    position: relative;
    background-color: white;
    /* width:fit-content; */
    width: 300px;
    min-width: 300px;
    margin: 0 10px 20px 10px;
    z-index: 10;

    display: flex;
    flex-direction: column;

    border: 1px solid var(--color-blue-dark);
    border-radius: 8px;
    outline: 2px solid transparent;
}

.selector__title{
    width: auto;
    height: fit-content;
    font-size: 1.7rem;
    padding: 5px 17px 5px 50px;
    padding-top: 7px;
    text-align: end;

    position: relative;

    display: flex;
    justify-content: end;
    align-items: center;
}

.selectedCircle{
    width: 22px;
    height: 22px;
    background-color: var(--color-pink);
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 25%;
    color: var(--color-white);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-top: 1px;
}

.selector__icon{
    vertical-align:middle;
    margin-bottom: 3px;
    margin-left: 12px;
    height: 100%;
}

.options__container{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 300px;
    transition: height .3s ease-in-out;
}

.options__label{
    font-size: 1.8rem;
    padding: 2px 0px;
    font-size: 1.7rem;
}

.options__input{
    appearance: none;
    display: none;
}

.options__span{
    display: block;
    width: 100%;
    padding: 3px 15px;
}

.options__container .options__input:checked + .options__span {
    background: var(--color-pink);
    color: var(--color-white);
}



/*-----BUTTONS-----*/

.button--pink,
.button--black{
    height: 40px;
    border: none;
    padding: 7px 20px;
    font-size: 1.8rem;
    border-radius: 8px;
    cursor: pointer;
    color: var(--color-white);
    user-select: none;
    transition: background .3s ease-in-out;
}

.button--pink{
    background-color: var(--color-pink);
}

.button--black{
    background-color: var(--color-blue-dark);
}

.button--pink:hover{
    background-color: var(--color-pink-light);
}

.button--recoverPass{
    margin: 0 10px;
}

.recoverPass--error{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.7;
}

.exitButton--pink,
.exitButton--black{
    width: 40px;
    border-radius: 50%;
    position: fixed;
    padding: 3px;
    top: 17%;
    right: 27.5%;
    cursor: pointer;
    user-select: none;
    transition: background .2s ease-in-out;
}

.exitButton--pink{
    background-color: var(--color-pink);
}

.exitButton--black{
    background-color: var(--color-blue-dark);
}

.exitButton--pink:hover{
    background-color: var(--color-pink-light);
}

